/* default style settings of the page */
body {
    background-color: #f9f9f9;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* crosswords cell */
.cw-grid{
    display: grid;
    /* these describe how to organize the divs inside the grid */
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(5, 80px);
    /* adds a gap of 5 pixels between each element, horizontal
    and vertically */
    gap: 1px;
}

/* letter cells */
.cw-cell{
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid #999;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.cw-input{
    width: 80px;
    height: 80px;
    border: none;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    text-transform: uppercase;
}

/* non-playable cells */
.cw-cell-null{
    width: 80px;
    height: 80px;
    background-color: black;
    border: 1px solid #999;
}

/* wrapper to make grid and hints side by side */
.row-wrapper{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/* horizontal and vertical hint lists */
.hints-list{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}


/* individual hints */
.hint{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
}
